<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="css/orders.css">
</head>
<body>
    <header>
		<h1>The Buttered Bun</h1>        
    </header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Province</th>
                <th>Email</th>                
                <th>Phone</th>
                <th>Postal Code</th>
                <th>Delivery Time</th>
                <th>Brownies</th>
                <th>Macarons</th>
                <th>Cheese Cakes</th>
                <th>Croissants</th>
                <th>Shipping Charges</th>
                <th>Sub Total</th>
                <th>Tax Percentage</th>
                <th>Tax</th>
                <th>Total Amount</th>
            </tr>
        </thead>        
           <% for(var order of orders)
           {
               %>
               <tr>
                <td><%= order.name %></td>
                <td><%= order.address %></td>
                <td><%= order.city %></td>
                <td><%= order.province %></td>
                <td><%= order.email %></td>
                <td><%= order.phone %></td>
                <td><%= order.postalCode %></td>
                <td><%= order.deliveryTime %></td>               
                <td><%= order.brownies %></td> 
                <td><%= order.macarons %></td>
                <td><%= order.cheeseCakes %></td>                             
                <td><%= order.croissants %></td>
                <td>$<%= order.shippingCharge %></td> 
                <td>$<%= order.subTotal %></td>
                <td><%= order.taxPercent %>%</td>            
                <td>$<%= order.taxAmount %></td>
                <td>$<%= order.totalAmount %></td>
            </tr>
            <%
           }
            %>        
    </table>
     <!--Footer part-->
     <footer>
        <p>&copy; Copyright 2020 The Buttered Bun &nbsp;<a href="mailto:webmaster@example.com">Contact Us</a>&nbsp;<a href="/">Back Home</a></p>
    </footer>
</body>
</html>