/*Style sheet for the card.ejs*/
body
{    
    background-image: url(../images/image8.jpg);
    background-size: contain;
    background-repeat:repeat;
    border:10px groove black;
}  
  
/*Style rule for img*/
img
{
    float: left;
}

/*Style rule for table*/
table 
{
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 700px;
    border: 10px solid black;
    background-color:wheat;
    table-layout: auto;
}

/*Style rule for table td*/
td 
{
    text-align: left;
    padding: 10px;
    border: 2px dotted black;
}
  
/*Style rule for table th*/  
th
{
  text-align: center;
  padding: 10px;
  border: 5px solid black;
}

/*Style rule for altering the background colurs for rows in table*/ 
tr:nth-child(even) 
{
  background-color: #f2f2f2;
}
footer 
{
	text-align: center;
	background-color:darkgoldenrod;
	color:black;	
	border-top:5px solid black;
	clear:both;
	height: 100px;
  position: sticky;
}
/*Style rule for the a tag*/
a
{    
  text-decoration: none; 
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  background-color:cornflowerblue;
  border-radius: 5px;  
  margin: 5px;
  padding: 10px;
}

/*Style rule for the footer p element*/
footer p
{
    font-size: 20px;
    padding-top:2em;
}
