body
{
    background-image: url(../images/thankyou.jpg);
    background-size: contain;
    background-repeat:repeat;
    /* border: 10px solid grey; */
    margin: 0 auto;
    
}


/*Style rule for the header element*/
header
{
  border-bottom:10px groove grey;
  padding:1em 0 4em;
  background-image: url(../images/backgroundheader.jpg);  
  height: 100px;
}

header h1
{
  font-family: Impact;
  font-style: normal;
  color:cornsilk;
  font-size: 80px;
  font-weight: bolder;
  font-stretch: extra-condensed;
  text-align: center;
}

table {
    padding: 10px;
    border-collapse: collapse;
    background-color: #000000;
    color: cornsilk;
    margin-bottom: 20px;
}


 td, tr{
    border: 1px solid cornsilk;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}
 
th {
    color:goldenrod;
    border: 2px solid cornsilk;
    padding: 5px;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}

footer
{
	text-align: center;
	background-color:darkgoldenrod;
	color:black;	
	border:5px solid black;
	clear:both;
	height: 100px;
    position: sticky;
    font-size: 20px;
}
/*Style rule for the a tag*/
a
{    
    text-decoration: none; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    background-color:cornflowerblue;
    border-radius: 5px;  
    margin: 5px;
    padding: 10px; 
}

footer p{

    font-size: 20px;
    padding-top:2em;
}


